<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vinyls Management</title>
</head>
<body>
<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                        <h1>Vinyls mgt</h1>
                        <a class="btn btn-primary h-50" th:href="@{/vinyls/new}" type="button">Create vinyl</a>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Song name</th>
                            <th>Release date</th>
                            <th>User</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr scope="row" th:if="${vinyls.empty}">
                            <td colspan="2">No vinyl Available</td>
                        </tr>
                        <tr scope="row" th:each="vinyl : ${vinyls}">
                            <td><span th:text="${vinyl.id}"></span></td>
                            <td><span th:text="${vinyl.songName}"></span></td>
                            <td><span th:text="${vinyl.releaseDate}"></span></td>
                            <td><span th:text="${vinyl.user.email}"></span></td>
                            <td><a th:href="@{|/vinyls/${vinyl.id}}">Details</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>


</body>
</html>
